<div class="panel-heading xsmall">
    Product Information
</div>
  <form name="productForm" novalidate>
<div class="panel-body xsmall">
    <div class="panel">
        <div class="panel panel-primary">
            <div class="panel-heading xsmall">
                Product Information
                <button class="btn-primary pull-right" ng-click="isCollapsed = !isCollapsed;">
                    <span ng-show="isCollapsed" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="!isCollapsed" class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
            <div class="panel xsmall" ng-class="{true: 'collapse'}[isCollapsed]">
                <div>Vendor:</div>
                <div>
                    <select name ="vendorno" required ng-model="product.vendorno" ng-options="v.vendorno as v.vendorno for v in vendors">    
                    </select>
                </div>
                <div class=" custom-error" ng-show="productForm.vendorno.$pristine || productForm.vendorno.$invalid">
                    <span ng-show="productForm.vendorno.$error.required">Vendor is required</span>
                </div>
                <div class="">Code:</div>
                <div class=""><input ng-disabled="todo==='update'"  size=5 required type="text" ng-model="product.productcode" name="productcode" /></div>
                <div class=" custom-error" ng-show="productForm.productcode.$pristine || productForm.productcode.$invalid">
                    <span ng-show="productForm.productcode.$error.required">Code is required</span>
                </div>
                <div class="">Vendor SKU:</div>
                <div class=""><input  size=10 required type="text" ng-model="product.vendorsku" name="vendorsku" /></div>
                <div class=" custom-error" ng-show="productForm.vendorsku.$pristine || productForm.vendorsku.$invalid">
                    <span ng-show="productForm.vendorsku.$error.required">Vendor SKU is required</span>
                </div>
                <div class="">Name:</div>
                <div class=""><input  size=10 required type="text" ng-model="product.productname" name="productname" /></div>
                <div class="custom-error" ng-show="productForm.productname.$pristine || productForm.productname.$invalid">
                    <span ng-show="productForm.productname.$error.required">Name is required</span>
                </div>
                <div class="">Cost:</div>
                <div class=""><input  size=10 required type="text" ng-model="product.costprice" name="costprice" /></div>
                <div class=" custom-error" ng-show="productForm.costprice.$pristine || productForm.costprice.$invalid">
                    <span ng-show="productForm.costprice.$error.required">Cost is required</span>
                </div>
                <div class="">MSRP:</div>
                <div class=""><input  size=10 required type="text" ng-model="product.msrp" name="msrp" /></div>
                <div class=" custom-error" ng-show="productForm.msrp.$pristine || productForm.msrp.$invalid">
                    <span ng-show="productForm.msrp.$error.required">MSRP is required</span>
                </div>
            </div>
            <div class="panel-heading xsmall">
                Inventory Information
                <button class="btn-primary pull-right" ng-click="isCollapsed = !isCollapsed;">
                    <span ng-show="isCollapsed" class="glyphicon glyphicon-chevron-down"></span>
                    <span ng-show="!isCollapsed" class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
            <div class="panel xsmall" ng-class="{true: 'collapse'}[!isCollapsed]">
                <div class="">ROP:</div>
                <div class=""><input  size=10 required type="text" ng-model="product.rop" name="rop" /></div>
                <div class=" custom-error" ng-show="productForm.rop.$pristine || productForm.rop.$invalid">
                    <span ng-show="productForm.rop.$error.required">ROP is required</span>
                </div>
                <div class="">EOQ:</div>
                <div class=""><input  size=10 required type="text" ng-model="product.eoq" name="eoq" /></div>
                <div class=" custom-error" ng-show="productForm.eoq.$pristine || productForm.eoq.$invalid">
                    <span ng-show="productForm.eoq.$error.required">EOQ is required</span>
                </div>
                <div class="">QOH:</div>
                <div class=""><input  size=10 required type="text" ng-model="product.qoh" name="qoh" /></div>
                <div class=" custom-error" ng-show="productForm.qoh.$pristine || productForm.qoh.$invalid">
                    <span ng-show="productForm.qoh.$error.required">QOH is required</span>
                </div>
                <div class="">QOO:</div>
                <div class=""><input  size=10 required type="text" ng-model="product.qoo" name="qoo" /></div>
                <div class=" custom-error" ng-show="productForm.qoo.$pristine || productForm.qoo.$invalid">
                    <span ng-show="productForm.qoo.$error.required">QOO is required</span>
                </div>
            </div>
        </div>
         <button ng-click="(todo==='add') ? add() : update()" ng-disabled="productForm.$invalid">{{todo}}</button>
        <div ng-hide="todo==='add'" >
            <button type="button" ng-click="del()" confirm-click >Delete</button>
        </div>
        <button ng-click="cancel()">Close</button> 
        <div class="custom-error">{{status}}</div>
    </div>
    
</div>
  </form>    